absl-py
addict
attrs
blinker
certifi
cffi
charset-normalizer
chumpy
click
contourpy
cycler
Cython
filelock
flake8
flask
flatbuffers
fonttools
fsspec
hf-xet
huggingface-hub
idna
itsdangerous
jax
jaxlib
Jinja2
json-tricks
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mccabe
mdurl
mediapipe
ml_dtypes
mmcv==2.1.0
mmdet
mmengine
mmpose
mpmath
munkres
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
platformdirs
protobuf
psutil
py-cpuinfo
pycocotools
pycodestyle
pycparser
pyflakes
Pygments
pyparsing
python-dateutil
pytz
PyYAML
regex
requests
rich
safetensors
scipy
sentencepiece
setuptools
shapely
six
sounddevice
sympy
termcolor
terminaltables
tokenizers
torch
torchvision
tqdm
transformers
triton
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Werkzeug
xtcocotools
yapf
